.env
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

*.session
*.session-journal

.idea/
.vscode/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

*.log
*.sqlite
*.sqlite3

dist/
build/
*.egg-info/
